/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  --clr-body-bg: 0 0% 98%;
  --elements-bg: 0 0% 100%;
  --clr-input-bg: 0 0% 52%;
  --clr-text: 200 15% 8%;
  --box-shadow: 200 15% 8%;
  --theme-svg-fill: var(--elements-bg);
  --theme-svg-stroke: var(--clr-text);
  --back-svg-stroke: var(--clr-text);

  /* font-styles */

  --ff-body: 'Nunito';

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: clamp(.6rem, 5vw, 1.4rem);
  --fs-400: clamp(1rem, 5vw, 1.125rem);
  --fs-300: clamp(.8rem, 5vw, 1rem);
  --fs-200: 0.875rem;
}

/* Theme Switching */

:root:has(.theme-switcher:checked) {
  --clr-body-bg: 207 26% 17%;
  --elements-bg: 209, 23%, 22%;
  --clr-text: 0 0% 100%; 
  --theme-svg-fill: var(--clr-text);
  --theme-svg-stroke: var(--elements-bg);
}

@media(prefers-color-scheme: dark) {
  :root {
      --clr-body-bg: 207 26% 17%;
      --elements-bg: 209, 23%, 22%;
      --clr-text: 0 0% 100%; 
      --theme-svg-fill: var(--clr-text);
      --theme-svg-stroke: var(--elements-bg);
  }
}

@media(prefers-color-scheme: light) {
  :root {
      --clr-body-bg: 0 0% 98%;
      --elements-bg: 0 0% 100%;
      --clr-input-bg: 0 0% 52%;
      --clr-text: 200 15% 8%;
      --theme-svg-fill: var(--elements-bg);
      --theme-svg-stroke: var(--clr-text);
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-body), sans-serif;
}

/* set up the body */
body {
  font-size: var(--fs-400);
  color: hsl( var(--clr-text) );
  background-color: hsl( var(--clr-body-bg) );
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
select {
  font: inherit;
  border: none; 
  outline: none;
}

button { cursor: pointer; }

ul, 
ol {
  list-style: none;
}

a { text-decoration: none; }

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  margin-inline: auto;
  max-width: min(75rem, 100% - 2rem);
}

/* colors */

.elements-bg { background-color: hsl( var(--elements-bg) ); }
.input-bg { background-color: hsl( var(--clr-input-bg) ); }
.body-bg { background-color: hsl( var(--clr-body-bg) ); }

.text-color-strong { color: hsl( var(--clr-text) ); }
.text-color-weak { color: hsl( var(--clr-text) / .9); }

/* typography */

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }

/* ------------------- */
/* Main Styles         */
/* ------------------- */

nav { padding: .8rem 0; }

nav > *.flex { align-items: center; }

nav .container.flex { justify-content: space-between; } 

.theme-wrap.flex { align-items: center; }

form.flex {
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.search-bar.flex { 
  padding: .8em .5em .8em 1.5em; 
  align-items: center;
  --gap: 1.5rem;
  flex-basis: 40%;
  min-width: fit-content;
  border-radius: 5px;
}

.search-bar input { width: 100%; }

.dropdown-menu { display: none; }

.menu-title.flex {
  flex-basis: 30%;
  padding: .8em 2em;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.theme-wrap,
.continent-filter { position: relative; }

.dropdown-menu {
  position: absolute;
  top: 4em;
  width: 100%;
}

.dropdown-click-event,
.theme-switcher {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.continent-filter:has(.dropdown-click-event:checked) .dropdown-menu { display: block; }

.dropdown-menu { 
  padding: .8em 0;
  border-radius: 5px; 
  opacity: 0;
  animation: dropdownAnimate 200ms ease-in-out forwards;
}

@keyframes dropdownAnimate {
  to { 
      opacity: 1;
  }
}

.dropdown-menu li { 
  transition: all 100ms;
  cursor: pointer;
  padding: .7em 1em; 
}
.dropdown-menu li:hover { 
  background-color: hsl( var(--clr-text) ); 
  color: hsl( var(--clr-body-bg) );
}

.search-bar,
.continent-filter,
.dropdown-menu,
nav,
.border-countries-list li { box-shadow: hsl( var(--box-shadow) / 0.1 ) 0px 4px 12px; }

form, .card-gallery {
  padding-top: 2em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  --gap: 2rem;
}

article { 
  --gap: 0; 
  border-radius: 5px;
  overflow: hidden;
}

.card-body { padding: .8em 1.5em; }

.card-body span { margin-left: 10px; }

.back-btn {
  padding: .1em 1em;
  --gap: .5rem;
  border-radius: 5px;
  align-items: center;
}

h2 { padding-bottom: 2rem; }
h3 { padding-bottom: 1rem; }

.country-main.grid {
  padding-top: 2rem;
  justify-items: start;
  align-content: center;
  min-height: 70vh;
  --gap: 4rem;
}

.country-section.flex {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

aside.flag { 
  flex-basis: 40%; 
  min-width: 257px; 
}

.country-content { flex-basis: 50%; }

.back-btn { box-shadow: hsl( var(--box-shadow) / 0.2 ) 0px 4px 12px; }

.details.grid {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem 2rem;
}

.details .flex {
  --gap: 4px;
}

.border-countries.flex { 
  margin-top: 2em; 
  align-items: center;
  flex-wrap: wrap;
  --gap: .5rem;
}

.border-countries-list.flex { 
  --gap: .5rem; 
  flex-wrap: wrap;
}

.border-countries-list li { 
  padding: 5px 10px; 
  color: hsl( var(--clr-text) / .6 );
  border-radius: 3px;
}